Import req

In [1]:
import geopandas

C:\Users\Youss\AppData\Local\Programs\Python\Python39\lib\site-packages\geopandas\_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

Add two layers and reproject it (meters not degrees)

In [2]:
fires = geopandas.read_file("../Data/Facilities/DemoCairo.gpkg", layer='fire').to_crs("EPSG:3857") #Point
facilities = geopandas.read_file("../Data/Facilities/DemoCairo.gpkg", layer='facilities').to_crs("EPSG:3857") #Point
admin_poly = geopandas.read_file("../Data/Facilities/DemoCairo.gpkg", layer='NewCairoPolyDemo').to_crs("EPSG:3857") #Polygon
fires.head(50)
facilities.head(50)

,id,name,type,geometry
0,1.0,Traffic Department El-Kattameya,Road,POINT (3494299.742 3500173.815)
1,2.0,El-Kattameya Traffic,Road,POINT (3493989.186 3500371.296)
2,NaN,Third Settlement Municipal,Utility,POINT (3497207.741 3500396.501)
3,NaN,Third Settlement Social Housing,Utility,POINT (3496680.054 3500335.766)
4,NaN,Government Office,Road,POINT (3497319.960 3500555.428)
5,NaN,Sewage treatment plant,Utility,POINT (3494539.229 3502097.733)
6,NaN,North Cairo Electricity Distribution- New Cairo,Utility,POINT (3499904.612 3505217.312)
7,NaN,Fifth Settlement Electriciy,Utility,POINT (3499884.577 3505191.112)
8,NaN,Telecom Egypt,Utility,POINT (3499472.826 3505593.304)
9,NaN,New Cairo 5th Police Department,None,POINT (3498222.184 3503106.233)
10,NaN,Fire Station,Fire,POINT (3498239.097 3503119.094)
11,NaN,Fifth Settlement Traffic Office,Road,POINT (3497744.568 3501210.144)
12,NaN,Al-Kattameya Power Station,Utility,POINT (3497587.051 3501404.192)
13,NaN,Sewage Station,Utility,POINT (3503424.774 3504444.199)
14,NaN,Telecom Egypt,Utility,POINT (3504413.577 3504850.914)
15,NaN,Water Company (First and Fifth Settlement),Utility,POINT (3503290.446 3507018.817)
16,NaN,New Cairo's Government Office,"Utility, Road, Disaster, Pollution",POINT (3503077.760 3507255.756)
17,NaN,El-Rehab City Hall,Utility,POINT (3505554.433 3510619.390)
18,NaN,Sewage Station,Utility,POINT (3502517.353 3512277.302)
19,NaN,New Cairo Water Station,Utility,POINT (3501330.573 3513787.022)
20,NaN,1st Settlement Water Plant,Utility,POINT (3501307.713 3513739.072)
21,NaN,Electrical Station First Settlement,Utility,POINT (3500937.497 3510666.954)
22,NaN,Yasmin Sewage station,Utility,POINT (3501260.698 3510125.571)
23,NaN,Sanitation First Settlement,Utility,POINT (3501273.576 3510100.373)
24,NaN,First Settlement Gas Company,Utility,POINT (3501126.310 3509940.788)
25,NaN,first Settlement Government Office,"Utility, Road, Pollution",POINT (3500920.831 3510414.089)
26,NaN,Telecom Egypt,Utility,POINT (3500763.483 3511851.666)
27,NaN,First Settlement Police Station,Road,POINT (3500486.278 3511116.830)
28,NaN,El-Rehab New City Hall,Utility,POINT (3507713.067 3510453.718)
29,NaN,Rehab Fire Station,Fire,POINT (3504028.859 3511858.481)
30,NaN,Al-Rehab Police Station,None,POINT (3504015.336 3511953.144)
31,NaN,Electricity Company Future City,Utility,POINT (3513647.857 3524368.410)
32,NaN,Telecom Egypt El Shorouk,Utility,POINT (3518244.488 3523988.383)
33,NaN,El Sherouk Fire Station,Fire,POINT (3518383.927 3524008.021)
34,NaN,Telecom Egypt Shorouk 2,Utility,POINT (3522269.954 3523950.310)
35,NaN,Traffic Police Station,Road,POINT (3521354.947 3525227.191)
36,NaN,El Shorouk Police Station,None,POINT (3522563.163 3525482.543)
37,NaN,Heliopolis City Authority,Utility,POINT (3526512.139 3521353.201)
38,NaN,Badr City Authority,Utility,POINT (3530802.156 3520161.743)
39,NaN,Badr City Police Department,None,POINT (3530080.150 3521074.166)
40,NaN,Telecom Egypt Badr City,Utility,POINT (3531673.094 3522338.069)
41,NaN,Police Station,None,POINT (3531102.860 3522251.182)
42,NaN,Badr City Authority- The new building,Utility,POINT (3530450.009 3521729.795)
43,NaN,Badr Fire Station,Fire,POINT (3531453.149 3521446.483)
44,NaN,Badr Sanitation Station,Utility,POINT (3528580.516 3523929.120)

In [3]:
fac_And_Admin = geopandas.sjoin(facilities,admin_poly[['adm3_ar', 'geometry']], how='left')
fac_And_Admin.rename_geometry('fac_geo', inplace=True)
fac_And_Admin_for_fire = fac_And_Admin.loc[fac_And_Admin['type']=='Fire']
fac_And_Admin_for_fire.head(50)

,id,name,type,fac_geo,index_right,adm3_ar
10,NaN,Fire Station,Fire,POINT (3498239.097 3503119.094),3,التجمع الخامس
29,NaN,Rehab Fire Station,Fire,POINT (3504028.859 3511858.481),4,الرحاب و المستثمرون
33,NaN,El Sherouk Fire Station,Fire,POINT (3518383.927 3524008.021),15,شياخة الشروق 2
43,NaN,Badr Fire Station,Fire,POINT (3531453.149 3521446.483),9,شياخة الحى الاول والحديقة ا

In [4]:
problem_And_Admin = geopandas.sjoin(fires,admin_poly[['adm3_ar', 'geometry']], how='left')
problem_And_Admin.head(10)

,id,type,lat,lon,timestamp,effect,description,img,solved,solved_time,geometry,index_right,adm3_ar
0,8,None,None,None,None,None,None,None,False,None,POINT (3534774.916 3522682.752),16,شياخة المنطقة الصناعية شرق
1,9,None,None,None,None,None,None,None,False,None,POINT (3535706.366 3521019.449),16,شياخة المنطقة الصناعية شرق
2,10,None,None,None,None,None,None,None,False,None,POINT (3530117.667 3521964.205),9,شياخة الحى الاول والحديقة ا
3,11,None,None,None,None,None,None,None,False,None,POINT (3523783.808 3524026.701),18,شياخة بدر 1
4,12,None,None,None,None,None,None,None,False,None,POINT (3519885.025 3519781.951),15,شياخة الشروق 2
5,13,None,None,None,None,None,None,None,False,None,POINT (3505141.504 3513048.899),4,الرحاب و المستثمرون
6,14,None,None,None,None,None,None,None,False,None,POINT (3501256.028 3511052.935),8,الياسمين و البنفسج و المثتس
7,15,None,None,None,None,None,None,None,False,None,POINT (3499486.273 3507553.345),8,الياسمين و البنفسج و المثتس
8,16,None,None,None,None,None,None,None,False,None,POINT (3499087.080 3512250.514),1,اكاديميه الشرطه و الميراج
9,17,None,None,None,None,None,None,None,False,None,POINT (3499406.434 3504732.383),3,التجمع الخامس

In [5]:
toto = fac_And_Admin_for_fire.to_crs("EPSG:4326")
toto['fac_lat'] = toto['fac_geo'].y
toto['fac_lon'] = toto['fac_geo'].x
toto.head(50)

,id,name,type,fac_geo,index_right,adm3_ar,fac_lat,fac_lon
10,NaN,Fire Station,Fire,POINT (31.42522 29.99665),3,التجمع الخامس,29.996649,31.425216
29,NaN,Rehab Fire Station,Fire,POINT (31.47723 30.06462),4,الرحاب و المستثمرون,30.064617,31.477227
33,NaN,El Sherouk Fire Station,Fire,POINT (31.60618 30.15903),15,شياخة الشروق 2,30.159029,31.606181
43,NaN,Badr Fire Station,Fire,POINT (31.72358 30.13913),9,شياخة الحى الاول والحديقة ا,30.139132,31.723583

In [6]:
problem_And_Admin.head(50)

,id,type,lat,lon,timestamp,effect,description,img,solved,solved_time,geometry,index_right,adm3_ar
0,8,None,None,None,None,None,None,None,False,None,POINT (3534774.916 3522682.752),16,شياخة المنطقة الصناعية شرق
1,9,None,None,None,None,None,None,None,False,None,POINT (3535706.366 3521019.449),16,شياخة المنطقة الصناعية شرق
2,10,None,None,None,None,None,None,None,False,None,POINT (3530117.667 3521964.205),9,شياخة الحى الاول والحديقة ا
3,11,None,None,None,None,None,None,None,False,None,POINT (3523783.808 3524026.701),18,شياخة بدر 1
4,12,None,None,None,None,None,None,None,False,None,POINT (3519885.025 3519781.951),15,شياخة الشروق 2
5,13,None,None,None,None,None,None,None,False,None,POINT (3505141.504 3513048.899),4,الرحاب و المستثمرون
6,14,None,None,None,None,None,None,None,False,None,POINT (3501256.028 3511052.935),8,الياسمين و البنفسج و المثتس
7,15,None,None,None,None,None,None,None,False,None,POINT (3499486.273 3507553.345),8,الياسمين و البنفسج و المثتس
8,16,None,None,None,None,None,None,None,False,None,POINT (3499087.080 3512250.514),1,اكاديميه الشرطه و الميراج
9,17,None,None,None,None,None,None,None,False,None,POINT (3499406.434 3504732.383),3,التجمع الخامس
10,18,None,None,None,None,None,None,None,False,None,POINT (3502400.380 3504852.141),7,النرجس المستثمرين الجنوبيه
11,19,None,None,None,None,None,None,None,False,None,POINT (3494483.057 3502656.580),2,الانشطه
12,20,None,None,None,None,None,None,None,False,None,POINT (3506232.631 3499463.038),5,المنطقه الصناعيه

In [7]:
final_result = problem_And_Admin.merge(toto[['fac_lat','fac_lon','adm3_ar']], on='adm3_ar',how='left').to_crs("EPSG:4326")
final_result['lat'] = final_result['geometry'].y
final_result['lon'] = final_result['geometry'].x
final_result.head(50)
# final_result.to_json()

,id,type,lat,lon,timestamp,effect,description,img,solved,solved_time,geometry,index_right,adm3_ar,fac_lat,fac_lon
0,8,None,30.148735,31.753423,None,None,None,None,False,None,POINT (31.75342 30.14874),16,شياخة المنطقة الصناعية شرق,NaN,NaN
1,9,None,30.135814,31.761791,None,None,None,None,False,None,POINT (31.76179 30.13581),16,شياخة المنطقة الصناعية شرق,NaN,NaN
2,10,None,30.143154,31.711587,None,None,None,None,False,None,POINT (31.71159 30.14315),9,شياخة الحى الاول والحديقة ا,30.139132,31.723583
3,11,None,30.159175,31.654689,None,None,None,None,False,None,POINT (31.65469 30.15917),18,شياخة بدر 1,NaN,NaN
4,12,None,30.126200,31.619665,None,None,None,None,False,None,POINT (31.61967 30.12620),15,شياخة الشروق 2,30.159029,31.606181
5,13,None,30.073872,31.487222,None,None,None,None,False,None,POINT (31.48722 30.07387),4,الرحاب و المستثمرون,30.064617,31.477227
6,14,None,30.058354,31.452318,None,None,None,None,False,None,POINT (31.45232 30.05835),8,الياسمين و البنفسج و المثتس,NaN,NaN
7,15,None,30.031141,31.436420,None,None,None,None,False,None,POINT (31.43642 30.03114),8,الياسمين و البنفسج و المثتس,NaN,NaN
8,16,None,30.067665,31.432834,None,None,None,None,False,None,POINT (31.43283 30.06766),1,اكاديميه الشرطه و الميراج,NaN,NaN
9,17,None,30.009199,31.435703,None,None,None,None,False,None,POINT (31.43570 30.00920),3,التجمع الخامس,29.996649,31.425216
10,18,None,30.010131,31.462598,None,None,None,None,False,None,POINT (31.46260 30.01013),7,النرجس المستثمرين الجنوبيه,NaN,NaN
11,19,None,29.993050,31.391475,None,None,None,None,False,None,POINT (31.39148 29.99305),2,الانشطه,NaN,NaN
12,20,None,29.968201,31.497024,None,None,None,None,False,None,POINT (31.49702 29.96820),5,المنطقه الصناعيه,NaN,NaN

Save To GPKG

In [8]:
final_result.to_file('../Data/Facilities/DemoCairoResults.gpkg', driver='GPKG', layer='Result2')

C:\Users\Youss\AppData\Local\Programs\Python\Python39\lib\site-packages\geopandas\io\file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

https://kepler.gl/demo/map?mapUrl=https://dl.dropboxusercontent.com/s/1tk4rj86u5f7pj9/keplergl_mxg8ozq.json

In [14]:
import leafmap as leafmap

In [15]:
m = leafmap.Map(center=[30.0, 30.0], zoom=5, height=600, widescreen=False)

In [16]:
m.add_gdf(final_result, layer_name="Final Result")
m.add_gdf(admin_poly, layer_name="Admin")
m

Map(center=[30.0, 30.0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out…